<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>
		{% comment %}
		<div>
					{{ tasks }}
				</div>
		{% endcomment %}
		{% comment %}
		<div>
					<ol>
						{% for task in tasks %}
							<li>
								<p> {{task.task.title}} </p>
								<span>{{ task.priority }}</span>	
								<p> {{ task.name }} </p>
								{% for task in task.projects.all %}							
									<p> {{ task.title }} </p>							
								{% endfor %}
							</li>
							<p> {{task.title}} </p>
							{% for emp in task.assigned_to.all %}
								<p> {{emp.name}} </p>
							{% endfor %}
						{% endfor %}
					</ol>
				</div>	
		{% endcomment %}
		{% comment %}
		<div>
			{{task_3}}
		</div>
		<div>
			<ul>
			{% for pt in pending_task %}
				<li>
					<p>{{ pt.title }}</p>
					<span> {{pt.status}} </span>
				</li>	
			{% endfor %}
			</ul>
		</div>
		<div>
			<ul>
			{% for t in tp %}
				<li>
					<p>{{ t.task }}</p>
					<span> {{t.priority}} </span>
				</li>	
			{% endfor %}
			</ul>
		</div>
	{% endcomment %}
{% comment %}
	<div>
		<p> {{task_count}} </p>
	</div>
{% endcomment %}
	<div>
		<ol>
			{% for project in projects %}
				<li>
					<p> {{project.name}} </p>
					<p> {{project.num_task}} </p>
				</li>
			{% endfor %}
		</ol>
	</div>
</body>
</html>