<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" href="">
	<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> 

</head>
<body>
	<h1>Welcome to Authentication System</h1>
	<div>
		{% if messages %}
			{% for message in messages %}
				<div class="px-2 py-1 {% if message.tags == 'success' %} bg-green-500 {% endif %} "> {{message}} </div>
			{% endfor %}
		{% endif %}
		<form action="" method="POST">
			{% csrf_token %}
			{% comment %}
				<input type="text" placeholder="Enter your username" name="username">
				<input type="password" placeholder="Enter your password" name="password">
			{% endcomment %}
			{{ form }}
			<button class="bg-blue-500 px-2 py-1 rounded-sm mt-8" type="submit">Sign In</button>
		</form>
	</div>
</body>
</html>